@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  outline: none !important;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "DM Sans";
  height: 100vh;
  background: black;
  background-color: black;
}
